html, body { 
    height: 100%; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}

.dialog .details-page{
    padding: 60px 0 !important;
}
