<mat-card *ngIf="item"
          (mouseover)="hideElement = false"
          (mouseleave)="hideElement = true"
          (click)="navigateToDetails()">
    <img mat-card-image
         [src]="item.image"
         [alt]="item.name"
         height="250px" />

    <div class="chips">
        <mat-chip-list aria-label="Fish selection" >
            <mat-chip *ngFor="let promo of promotionsForItem"
                      color="accent"
                      [selectable]="false"
                      selected>{{ promo.promotionName }}</mat-chip>
        </mat-chip-list>
    </div>

    <div [hidden]="hideElement"
         class="quick-actions">
        <button mat-icon-button
                (click)="openDialog()" click-stop-propagation>
            <mat-icon>center_focus_strong</mat-icon>
        </button>
        <button mat-icon-button click-stop-propagation disabled="true" (click)="addToCart(item.id)">
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
    </div>

    <mat-card-title>
        <p class="title">{{ item.name }}</p>
    </mat-card-title>

    <mat-card-subtitle>
        <div class="description-container">
            <p>{{ item.shortDescription }}</p>
        </div>
    </mat-card-subtitle>

    <mat-card-content>
        <p *ngIf="discount" class="old-price">{{ item.price | currency }}</p>
        <div class="price-stock-group">
            <h1>{{ getRealPrice(item) | currency }}</h1>
            <div class="stock-group">
                <div class="circle"
                     [style.background-color]="stockColour"></div>
                <p [style.color]="stockColour">{{ generalStockStatus }}</p>
            </div>
        </div>

        <app-rating [rating]="rating"
                    [ratingsCount]="item.ratings.length"></app-rating>
    </mat-card-content>
</mat-card>