mat-card {
    height: 430px;
    width: 300px;
    margin: 30px;

    cursor: pointer;
}

.ratings {
    display: flex;

    span {
        margin-left: 10px;
        margin-top: 3px;
        vertical-align: middle;
    }
}

.img {
    height: 250px;
    overflow: hidden;
    margin-bottom: 30px;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    height: 140px;

    h1 {
        margin-bottom: 10px;
    }

    div {
        margin-bottom: 8px;
        margin-bottom: auto;
    }
}

.quick-actions {
    position: absolute;
    background-color: white;
    bottom: 210px;
    display: flex;
    right: 20px;
    margin-top: 200px;

    mat-icon {
        vertical-align: middle;
    }

    button:nth-of-type(1) {
        margin-right: 10px;
    }
}

.price-stock-group {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        margin: unset;
    }

    p {
        margin: unset;
    }

    .stock-group {
        margin: unset;
        display: flex;
        align-items: center;

        .circle {
            height: 10px;
            width: 10px;
            background-color: #bbb;
            border-radius: 50%;
            margin: unset;
            margin-right: 5px;
            margin-bottom: 1.5px;
        }
    }
}

[hidden] {
    display: none;
}
