<div class="cart">
    <div class="details">
        <h2>Cart</h2>
        <div class="cart-list">
            <ng-container *ngFor="let item of cartItems">
                <app-list-card [cartItem]="item"></app-list-card>
            </ng-container>
        </div>
    </div>
    <div class="summary">
        <h2>Items in cart: {{ cartItemsCount }}</h2>
        <h3>Price: {{ price | currency }}</h3>
        <h2 class="disc-price">Price after discounts: {{ discountedPrice | currency }}</h2>

        <ngx-paypal disabled [config]="payPalConfig"></ngx-paypal>
    </div>
</div>