.cart {
    padding: 40px 5%;
    display: flex;
    width: 90%;

    .details {
        width: 70%;

        .cart-list {
            padding: 10px;
        }
    }

    .summary {
        width: 30%;
        padding: 20px;
        padding-top: 60px;
        box-sizing: border-box;
        background-color: #fff;

        .payment-type {
            margin-bottom: 30px;
            margin-top: 20px;
        }

        .example-full-width {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 1400px) {
    .cart {
        padding: 60px 20%;
        width: 60%;
    }
}