$base-spacing: 20px;

.toolbar {
    display: flex;
    justify-content: space-between;
}

mat-icon {
    vertical-align: middle;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.word-group {
    a, mat-icon {
        margin-left: $base-spacing;
        cursor: pointer;
    }
}