.details-page {
    padding: 40px 5%;
    display: flex;

    .details {
        width: 100%;
        margin-left: 50px;

        .sizes {
            margin: 40px 0px;

            h3 {
                margin-bottom: 5px;
            }

            .sizes-array {
                display: flex;
                flex-wrap: wrap;

                > * {
                    margin: 7px;
                }
            }
        }
    }

    p {
        margin-top: 40px;
    }
}

.not-found {
    width: 200px;
    margin: auto;
    margin-top: 30%;

    > * {
        text-align: center;
    }
}

.mat-chip.mat-standard-chip::after {
    background: none !important;
}

.old-price {
    margin-bottom: 0px;
    text-decoration: line-through;
}

@media only screen and (min-width: 1400px) {
    .details-page {
        padding: 60px 20%;
    }
}
